.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.top-nav {
	margin: 20px auto;
}

#registration_no {
	margin-right: 15px;
}

.classroom-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	/* Centres the flexbox items */
	margin: 15px auto;
	/* Adds a bit of a gap between the flexbox items */
	gap: 50px;
}

.classroom-heading {
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
}

.student-item {
	padding: 5px 10px;
	border-radius: 5px;
}

.student-name {
	display: inline-block;
	width: 160px;
	margin-left: 15px;
	text-align: left;
}

.highlight {
	background-color: #FFBF00;
	
}